<%- include('./partials/header.ejs') %>

    <main>
        <h2>
            <%= titre %>
        </h2>
        <ul>
            <% for(const recipe of recipes) {%>
                <li>
                    <a href="/recipes/<%= recipe.name %>">
                        <%= recipe.name %>
                    </a>
                </li>
                <%}%>
        </ul>
    </main>

    <%- include('partials/footer.ejs') %>